

   body{
	
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 80px;
   

	
	background-color: lightgrey;
	}
	h1{
		font-family:timesnewroman;
		font-weight: bold;
		text-align: center;
		color:black;
	}
	img {
			width: 50%;
			height: auto;
	} 
	
	
  p{
	width:auto;
	text-align:justify;
}

  h2{
	color:black;
	
	
  }
